/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

html {
  color: #2A2626;
  font: 16px/25.6px 'OpenSans';

  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: inherit;
}

.text-white {
  color: var(--white);
}

.text-semi-transparent-white {
  color: var(--semi-transparent-white);
}

.text-light {
  color: var(--light-color);
}

.text-main {
  color: var(--main-color);
}

.text-main-dark {
  color: var(--main-dark-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-semi-transparent-dark {
  color: var(--semi-transparent-dark);
}

.text-brown {
  color: var(--brown);
}

.text-blue {
  color: var(--blue);
}

.bg-white {
  background: var(--white);
}

.bg-semi-transparent-white {
  background: var(--semi-transparent-white);
}

.bg-light {
  background: var(--light-color);
}

.bg-main {
  background: var(--main-color);
}

.bg-main-dark {
  background: var(--main-dark-color);
}

.bg-dark {
  background: var(--dark-color);
}

.bg-semi-transparent-dark {
  background: var(--semi-transparent-dark);
}

.bg-brown {
  background: var(--brown);
}

.bg-blue {
  background: var(--blue);
}

.bg-image::before {
  position: absolute;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  
  width: 100%;
	height: 100%;

  opacity: 10%;
  content: '';
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-weight: normal;
  font-family: 'Neucha';
  color: var(--main-color);
}

.header {
  position: relative;
}

.header .title {
  position: relative;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.title {
  font-weight: normal;
  margin: 0;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}

.link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  border-width: 0;

  font-weight: 700;
  font-size: 16px;
  font-family: 'OpenSans', serif;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-color);
}

.link:hover {
  background: #EA7600;
}

.text-content {
  display: flex;
  justify-content: space-between;

  
}

.header .text-content {
  margin-top: 185px;
}

.text-block {
  width: 50%;
}

.text-content .text-block:nth-child(1) {
  margin-right: 30px;
}

.video,
.card-image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 1;
}
/* 
#navigation {

  left: 0;
  right: 0;
} */

.video-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-title {
  margin: 30px 0 30px 0;
}

/* ----------------------------------------Navigation----------------------------------------- */

.menu {
  position: relative;
  margin-top: -200px;
  padding-top: 100px;
  /* padding-bottom: 100px; */
}

.link {
  display: block;
}

.menu-link p {
  height: 100%;
  margin: 0;
}

.menu-list {
  /* max-width: 1110px;
  padding: 0;
  margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-element {
  /* display: block; */

  max-width: 302px;
  min-height: 300px;
  padding: 24px;
  margin-top: 20px;
}

.menu-list div:nth-child(-n+3) {
  margin-top: 0;
  min-height: 275px;
}

.number-of-element {
  margin: 0 0 40px 0;
  font-size: 64px;
  font-family: 'Neucha';
  font-weight: normal;
  line-height: 1;
}

.menu-element-header {
  font-family: 'Neucha';
  font-weight: normal;
  margin: 0;
}

.menu-header {
  padding: 0;
  width: 350px;
}

.menu-header h3,
.menu-header span {
  max-width: 350px;
  font-size: 52px;
  font-weight: normal;
}

.menu-element:hover {
  background: var(--main-color);
}

.menu-element:hover .number-of-element {
  color: var(--white);
}

.menu-element:hover .menu-element-header {
  color: var(--white);
}

.menu-element:hover p {
  color: var(--white);
}

/* ----------------------------Content---------------------------------------- */

.theme-header {
  font-size: 24px;
  font-family: 'Neucha';
}

.card-title {
  font-weight: 400;
  line-height: 72px;

  display: flex;
  flex-direction: column;

  margin: 0 0 30px 0;
}

.card-title-description {
  font-size: 34px;
  font-family: 'Neucha';
  line-height: 40.8px;
}

.card-image {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.card-horizontal-block {

  font: bold 14px/17px "OpenSans";
  text-transform: uppercase;

  display: block;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.card-text {
  display: flex;
  justify-content: space-between;
}

.card-text-block {
  max-width: 50%;
}

.card-text .card-text-block:nth-child(1) {
  margin-right: 30px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.card-top .column:nth-child(1) {
  margin-right: 30px;
}


/* -----------------------------------Footer-------------------------------------------- */

.subscription-to-updates {
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
  height: 190px;
}

.subscription-form {
  margin-top: 9px;
}

.subscription-form > * {
  border: 0;
  margin: 0;
  padding: 0;
}

.subscription-to-updates > * {
  flex-basis: 50%;
}

.subscription-to-updates h3 {
  margin: 55px 0;
}

input::placeholder {
  color: #757575;

  opacity: 0.2;
}

input {
  flex-grow: 1;
}

.subscription-form input:focus {
  outline: none;
}

.contacts {
  font-size: 14px;
  text-align: center;

  margin-top: 60px;
}

#email {
  height: 50px;
  /* margin: 15px; */
}

.email-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-field label {
  font-size: 18px;
}

.email-btn {
  height: 50px;
  width: 70px;
  border: none;
}

.email-btn::before {
  content: url(../images/send.svg);
}

.rules-of-service {
  font-size: 12px;

  margin: 0;
}

.rules-of-service a {
  text-decoration: underline;
}

.contacts a {
  text-decoration: underline;
}

footer form {
  display: flex;
}

button {
  background: #EA7600;
}