/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

html {
  color: #2A2626;
  font: 16px/25.6px 'OpenSans';

  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  padding: 0;
}

.text-white {
  color: var(--white);
}

.text-semi-transparent-white {
  color: var(--semi-transparent-white);
}

.text-light {
  color: var(--light-color);
}

.text-main {
  color: var(--main-color);
}

.text-main-dark {
  color: var(--main-dark-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-semi-transparent-dark {
  color: var(--semi-transparent-dark);
}

.text-brown {
  color: var(--brown);
}

.text-blue {
  color: var(--blue);
}

.bg-white {
  background: var(--white);
}

.bg-semi-transparent-white {
  background: var(--semi-transparent-white);
}

.bg-light {
  background: var(--light-color);
}

.bg-main {
  background: var(--main-color);
}

.bg-main-dark {
  background: var(--main-dark-color);
}

.bg-dark {
  background: var(--dark-color);
}

.bg-semi-transparent-dark {
  background: var(--semi-transparent-dark);
}

.bg-brown {
  background: var(--brown);
}

.bg-blue {
  background: var(--blue);
}

.bg-image::before {
  position: absolute;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;

  width: 100%;
	height: 100%;

  opacity: 10%;
  content: '';
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: 'Neucha';
}

.header {
  position: relative;
}

.header .title {
  position: relative;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.title {
  font-weight: normal;
  margin: 0;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}

.link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  border-width: 0;

  font-weight: 700;
  font-size: 16px;
  font-family: 'OpenSans', serif;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-color);
}

.link:hover {
  background: #EA7600;
}

.text-content {
  display: flex;
  justify-content: space-between;

  
}

.header .text-content {
  margin-top: 185px;
}

.text-block {
  width: 50%;
}

.text-content .text-block:nth-child(1) {
  margin-right: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

#navigation {

  left: 0;
  right: 0;
}

.video-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  bottom: -100px;
  padding: 100px 0 0 0;

  z-index: 1;
}